@font-face {
  font-family: 'Anton';
  src: url('/fonts/Anton-Regular.ttf');
}

@font-face {
  font-family: 'Handjet';
  src: url('/fonts/Handjet.ttf');
}

@font-face {
  font-family: 'Silkscreen';
  src: url('/fonts/Silkscreen-Regular.ttf');
}

@font-face {
  font-family: 'Mintsoda';
  src: url('/fonts/Mintsoda.ttf');
}

.pixel {
  font-family: 'Handjet', 'Mintsoda';
}