@font-face {
  font-family: 'Anton';
  src: url('./Anton-Regular.ttf');
}

@font-face {
  font-family: 'Handjet';
  src: url('./Handjet.ttf');
}

@font-face {
  font-family: 'Silkscreen';
  src: url('./Silkscreen-Regular.ttf');
}