.mini-bob::before {
  content: "";
  width: 250px;
  height: 110px;
  border: 2px solid var(--light);
  background-color: var(--dark);
  position: absolute;
  top: 22px;
  left: -26px;
  z-index: -100;
}

.mini-bob {
  width: 250px;
  height: 110px;
  position: relative;
  border: 2px solid transparent;
}

.mini-line {
  width: 35px;
  transform: rotate(-43deg);
  height: 2px;
  background-color: var(--light);
  position: absolute;
}

.mini-line-1 {
  top: 12px;
  left: -30px;
}

.mini-line-2 {
  bottom: -12px;
  left: -30px;
}

.mini-line-3 {
  transform: rotate(-48deg);
  bottom: -13px;
  right: -5px;
}

.mini-bob-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  border: 2px solid var(--light);
  background-color: var(--dark);
  font-family: 'Handjet', 'Mintsoda';
  font-size: 24px;
  transition: transform 0.3s;
}

.mini-bob-link:hover {
  transition: none;
  cursor: pointer;
}

.mini-bob-link:hover .mini-bob-content {
  transform: translate(10px, -10px);
  color: black;
  background-color: var(--light);
}

@media screen and (max-width: 768px){
  .mini-bob::before {
    display: none;
  }
  .mini-bob {
    width: 200px;
    height: 80px;
  }
  .mini-bob-content {
    font-size: 20px;
  }
  .mini-line {
    width: 25px;
  }
  .mini-line-1 {
    top: 10px;
    left: -20px;
  }
  .mini-line-2 {
    bottom: -10px;
    left: -20px;
  }
  .mini-line-3 {
    bottom: -10px;
    right: -5px;
  }
}