.mini-bob::before {
  content: "";
  width: 250px;
  height: 80px;
  border: 2px solid var(--light);
  background-color: var(--dark);
  position: absolute;
  top: 30px;
  left: -30px;
  z-index: -100;
}

.mini-bob {
  margin-left: 100px;
  width: 250px;
  height: 80px;
  border: 2px solid var(--light);
  background: var(--dark);
  position: relative;
}