/* FONTS */
@theme {
    --font-mono: "JetBrains Mono Variable", "Fira Mono", 'M PLUS 2 Variable', monospace;
    --font-sans: "Public Sans Variable", "Fira Code", 'M PLUS 2 Variable', sans-serif;
}
/* COLORS */
@theme {
    --color-background: #000000;
    --color-primary: #fafafa;
    --color-secondary: #6f6f6f;
}

@theme {
    --animate-float: float 5s ease-in-out infinite;

    @keyframes float {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-0.5rem);
        }

        100% {
            transform: translateY(0);
        }
    }
}

.container-force {
    @apply sm:w-[40rem] md:w-[48rem] lg:w-[64rem] xl:w-[80rem] 2xl:w-[96rem];
    /* The same as the .container class so it doesn't break :) */
    padding: calc(var(--spacing) * 4);
    padding-left: 0;
}
