/* FONTS */
@theme {
  --font-mono: 'Fira Mono', monospace;
  --font-sans: 'Fira Code', sans-serif;
}
/* COLORS */
@theme {
  --color-background: #000000;
  --color-primary: #FAFAFA;
  --color-secondary: #6F6F6F;
}

@theme {
  --animate-float: float 5s ease-in-out infinite;

  @keyframes float {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-0.5rem);
  }

  100% {
      transform: translateY(0);
  }
  }
}

