---

---

<div class="bob">
  <div class="eye"></div>
  <div class="eye"></div>
</div>

<script>
  const eyes = document.querySelectorAll('.eye');
  eyes.forEach(eye => {
    let rect = eye.getBoundingClientRect();
    // el metodo es costoso, lo actualizamos solo cuando hacemos scroll
    document.addEventListener('scroll', () => {
      rect = eye.getBoundingClientRect();
    })
    const radius = 5; 
    document.addEventListener('mousemove', e => {
      const eyeCenterX = rect.left + rect.width / 2;
      const eyeCenterY = rect.top + rect.height / 2;
      const deltaX = e.clientX - eyeCenterX;
      const deltaY = e.clientY - eyeCenterY;
    
      const angle = Math.atan2(deltaY, deltaX);
      // @ts-ignore
      eye.style.setProperty('--pupil-x', `${Math.cos(angle) * radius}px`);
      // @ts-ignore
      eye.style.setProperty('--pupil-y', `${Math.sin(angle) * radius}px`);
    })
  })
  document.addEventListener('mousemove', (e) => {
    eyes.forEach(eye => {
    });
  });
</script>