---
import SectionTitle from "./SectionTitle.astro";
import ContactItem from "./ContactItem.astro";

import { useTranslations, getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer
  class="min-h-[70rem] lg:min-h-[45rem] overflow-hidden pb-20 flex flex-col justify-end items-center"
>
  <div
    class="container grid grid-rows-2 grid-cols-1 lg:grid-rows-1 lg:grid-cols-2 gap-y-40"
  >
    <div id="footer-title" class="relative row-start-2 lg:row-start-1">
      <div class="relative">
        <h2
          class={`${lang == "ja" ? "text-5xl" : "text-6xl"} lg:text-7xl text-right font-semibold flex min-w-min`}
        >
          {t("general.name")}
          <br />
          {t("general.firstSurname")}
        </h2>
        <p
          class="absolute bottom-2 left-0 text-secondary md:text-sm text-xs"
          set:html={t("footer.title")}
        />
      </div>
    </div>
    <div class="lg:ml-20 col-start-1 lg:col-start-2">
      <SectionTitle>{t("contact.title")}</SectionTitle>
      <p class="font-mono pt-15 md:w-3/4">
        {t("footer.contact.text")}
      </p>
      <div class="grid xl:grid-cols-2 mt-4 gap-y-4">
        <ContactItem
          text="Linkedin"
          href="https://www.linkedin.com/in/alejandrovidalcasado/"
          icon="mdi:linkedin"
          bottom_text="/in/alejandrovidalcasado"
        />
        <ContactItem
          text="Github"
          href="https://github.com/yasai59"
          icon="mdi:github"
          bottom_text="/gh/yasai59"
        />
        <ContactItem
          text="Email"
          href="mailto:contacto@alejandrovidal.dev"
          icon="material-symbols:mail"
          bottom_text="contacto@alejandrovidal.dev"
        />
      </div>
    </div>
  </div>
</footer>
