---
import SectionTitle from "./SectionTitle.astro";
---

<footer class="h-dvh overflow-hidden pt-20">
    <div
        class="container m-auto grid grid-rows-2 grid-cols-1 md:grid-rows-1 md:grid-cols-2"
    >
        <div id="footer-title" class="relative row-start-2">
            <h2 class="text-8xl text-right w-min">Alejandro <br /> Vidal</h2>
            <p class="absolute bottom-4 left-4 text-secondary">
                Web developer <br /> & student
            </p>
        </div>
        <div class="md:ml-20 col-start-1 md:col-start-2">
            <SectionTitle>Contact</SectionTitle>
        </div>
    </div>
</footer>
