---
import LanguageSelector from "./LanguageSelector.astro";

import { useTranslations, getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header class="text-mono min-h-43 overflow-hidden grow-0">
  <div class="flex justify-between items-center h-24 w-full container m-auto">
    <h2>{t('general.name')} <br /> {t('general.surname')}</h2>

    <!-- NAVBAR -->
    <nav class="hidden gap-4 md:flex">
      <a href={`/${lang}#home`} class="anim-underline">{t('nav.home')}</a>
      <a href={`/${lang}#about`} class="anim-underline">{t('nav.about')}</a>
      <a href={`/${lang}#studies`} class="anim-underline">{t('nav.studies')}</a>
      <!-- <a href="/projects" class="anim-underline">Projects</a> -->
    </nav>

    <!-- mobile navbar button -->
    <nav class="flex md:hidden">
      <button
        class="btn btn-ghost btn-circle cursor-pointer"
        id="mobile-menu-toggle"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </nav>

    <LanguageSelector />
  </div>

  <!-- NAVBAR MOBILE -->
  <div class="hidden w-full container md:hidden pb-5" id="nav-mobile">
    <nav class="gap-4 flex-col bg-background">
      <a href="#home" class="anim-underline">{t('nav.home')}</a>
      <a href="#about" class="anim-underline">{t('nav.about')}</a>
      <a href="#studies" class="anim-underline">{t('nav.studies')}</a>
      <!-- <a href="/projects" class="anim-underline">Projects</a> -->
    </nav>
  </div>
</header>

<!-- JavaScript para toggle -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const toggleBtn = document.getElementById("mobile-menu-toggle");
    const navMobile = document.getElementById("nav-mobile");

    toggleBtn?.addEventListener("click", () => {
      navMobile?.classList.toggle("hidden");
      navMobile?.classList.toggle("flex");
    });
  });
</script>
