---
interface Props {
  fecha: string;
  nombre: string;
  centro: string;
}

const { fecha, nombre, centro } = Astro.props;
---

<div
  class="grid grid-cols-2 lg:grid-cols-3 items-center px-10 py-5 border-b-2 border-secondary last:border-b-0 w-full bg-background hover:bg-primary hover:text-background transition-all duration-300"
>
  <p class="text-left hidden lg:block">{fecha}</p>
  <p class="text-left">{nombre}</p>
  <p class="text-right">{centro}</p>
</div>
