---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import HeroSection from "../../sections/HeroSection.astro";
import AboutMeSection from "../../sections/AboutMeSection.astro";
import StudiesSection from "../../sections/StudiesSection.astro";
import Footer from "../../components/Footer.astro";
import { languages } from "../../i18n/ui.ts";

import "../../styles/global.css";

import type { GetStaticPaths } from "astro";
import BlogIntroSection from "../../sections/BlogIntroSection.astro";
import HeaderFixed from "../../components/HeaderFixed.astro";

export const getStaticPaths = (() => {
  let paths = [];

  for (const key of Object.keys(languages)) {
    paths.push({ params: { lang: key } });
  }
  return paths;
}) satisfies GetStaticPaths;
---

<Layout title="Alejandro Vidal - Portfolio">
  <HeaderFixed />
  <div class="h-lvh flex flex-col overflow-hidden" id="start">
    <Header showName={false} />
    <HeroSection />
  </div>
  <div class="container m-auto">
    <BlogIntroSection />
    <AboutMeSection />
    <StudiesSection />
  </div>
  <Footer />
</Layout>