---
import SectionTitle from "../components/SectionTitle.astro";
import Button from "../components/Button.astro";
---

<section class="container-force shrink-0">
    <SectionTitle>About me</SectionTitle>
    <div
        class="relative scale-70 sm:scale-75 md:scale-100 origin-top-left mt-10"
    >
        <svg
            width="454"
            height="348"
            viewBox="0 0 454 348"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M16 0.5H438C446.56 0.5 453.5 7.43959 453.5 16V226.5C453.5 235.06 446.56 242 438 242H326.5C317.387 242 310 249.387 310 258.5V331.5C310 340.06 303.06 347 294.5 347H16C7.43959 347 0.5 340.06 0.5 331.5V16C0.5 7.43959 7.43959 0.5 16 0.5Z"
                fill="black"
                stroke="#FFFAFA"></path>
        </svg>
        <div class="absolute top-5 pl-4 pt-6 w-110">
            <h3 class="text-xl">./Front-end</h3>
            <p class="text-sm my-4">
                JavaScript / React / Vue / Angular / Astro / NextJS / CSS / SASS
                / MUI / TailwindCSS / DaisyUI
            </p>
            <h3 class="text-xl">./Back-end</h3>
            <p class="text-sm my-4">
                NodeJS / Express / Nest / PHP / Laravel / SQL db / noSQL db
            </p>
            <h3 class="text-xl">./Other</h3>
            <p class="text-sm mt-4">C++ / Python / Docker / Linux</p>
            <Button
                className="absolute top-0 right-0"
                href="https://github.com/yasai59"
            />
        </div>
    </div>
</section>
