---
import SectionTitle from "../components/SectionTitle.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="container-force m-auto" id="blog">
  <SectionTitle>{t("blog.title")}</SectionTitle>
  <a href={`/${lang}/blog`} class="anim-underline">{t("blog.seeMore")}</a>
</section>

