---
import Bob from "../components/Bob.astro";
import SectionTitle from "../components/SectionTitle.astro";
---

<section class="container-force shrink-0">
    <div class="w-full items-center flex justify-between">
        <SectionTitle>Studies</SectionTitle>
        <Bob />
    </div>
</section>
