@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: #fafafa;
  --dark: #141414;
}

.give-a-cookie {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.gotoCenter {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(0,0);
  animation: gotoCenter 0.4s ease-in-out;
}

@keyframes gotoCenter {
  from {

  }
  to {  
    transform: translate(-50%,-50%);
  }
}