@import url('/fonts/fonts.css');

.bob-shadow {
  width: 100%;
  height: 100%;
  border: 2px solid var(--light);
  background-color: var(--dark);
  position: absolute;
  top: 60px;
  left: -60px;
  z-index: -100;
}

.bob-wraper {
  width: 44rem;
  height: 44rem;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  transition: all .4s ease-out;
}

.bob {
  width: 100%;
  height: 100%;
  border: 2px solid var(--light);
  background: var(--dark);
  position: relative;
}


.line {
  width: 86.5px;
  background: var(--light);
  height: 2px;
  position: absolute;
  transform: rotate(-45deg);
}

.line-1 {
  left: -71.5px;
  top: 28px;
}

.line-2 {
  bottom: -30px;
  left: -71px;
}

.line-3 {
  bottom: -30px;
  right: -14px;
}

.fill {
  color: var(--light);
  -webkit-text-stroke: 2px var(--light);
}

.void {
  -webkit-text-stroke: 2px var(--light);
  color: transparent;
}

.titles {
  font-family: 'Anton', 'cp_font';
  padding-left: 10px;
  line-height: 1.1;
}